{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Account | CrimeSolutions</title>
    <link rel="shortcut icon" href="/static/imgs/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
</head>

<body>

<!-- START NAV -->
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'landing' %}">
                <img src="/static/imgs/logo2.jpg" width="35" height="28">
            </a>
            <a class="navbar-item" href="{% url 'landing' %}"
               style="font-weight: 600; font-size: 200%;">CrimeSolutions</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'index' %}">Index </a>
                <a class="navbar-item" href="{% url 'report' %}">Report Crimes </a>
                <a class="navbar-item" href="{% url 'idx_map' %}">Crime Map </a>
                <a class="navbar-item" href="https://xuyanghan.github.io/">About Me</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info is-outlined" href="{% url 'user' %}">
                            Hello, {{ user.last_name }}
                        </a>
                        <a class="button is-primary" href="{% url 'logout' %}">
                            <strong>Logout</strong>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- END NAV -->

<section class="hero is-success is-fullheight">
    <div class="container">
        <div class="column is-12">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Hello! {{ user.first_name }}
                        </h1>
                        <h2 class="subtitle">
                            Your report is very valuable to the community safety!
                        </h2>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box ">
                            <p class="title has-text-black-ter">{{ activities.count }}</p>
                            <a class="subtitle has-text-black-ter">Reports</a>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">

                            <p class="title has-text-black-ter">{{ endorsed_number }}</p>
                            <a class="subtitle has-text-black-ter">Endorsed Credibility</a>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title has-text-black-ter">{{ time.days }} days</p>
                            <a class="subtitle has-text-black-ter">Launched</a>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title has-text-black-ter">{{ views }}</p>
                            <a class="subtitle has-text-black-ter"
                               href="https://www.youtube.com/channel/UCAx84KwRItMl_a2G-m0VpoA">Views</a>
                        </article>
                    </div>
                </div>
            </section>
            <div class="columns">

                <div class="column is-6 card events-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Crime Reported
                        </p>
                    </header>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <tbody>
                                {% for activity in activities %}
                                    <tr>
                                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                                        <td> {{ activity }} </td>
                                        <td><a class="button is-small is-primary"
                                               href="{% url 'activity' activity.id %}">See Details</a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Crime Search
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-large" type="text" placeholder="">
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="icon is-medium is-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Crime Endorsed Credibility
                            </p>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                    {% for activity in activities %}
                                        {% if activity.endorsed_number >= 5 %}
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td> {{ activity }} </td>
                                                <td><a class="button is-small is-primary"
                                                       href="{% url 'activity' activity.id %}">See Details</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{% url 'index' %}" class="card-footer-item">View All</a>
                        </footer>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>